<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.OrderProductMapper">


  <resultMap id="BaseResultMap" type="com.pojo.OrderProduct">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <id column="product_id" jdbcType="TINYINT" property="productId" />
  </resultMap>


  <delete id="deleteByPrimaryKey" parameterType="com.pojo.OrderProduct">
    delete from order_product
    where order_id = #{orderId,jdbcType=VARCHAR}
      and product_id = #{productId,jdbcType=TINYINT}
  </delete>

  <insert id="insert" parameterType="com.pojo.OrderProduct">
    insert into order_product (order_id, product_id)
    values (#{orderId,jdbcType=VARCHAR}, #{productId,jdbcType=TINYINT})
  </insert>


  <insert id="insertSelective" parameterType="com.pojo.OrderProduct">
    insert into order_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>


</mapper>