<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.RoleUserMapper">


  <resultMap id="BaseResultMap" type="com.pojo.RoleUser">
    <id column="role_id" jdbcType="TINYINT" property="roleId" />
    <id column="user_id" jdbcType="TINYINT" property="userId" />
  </resultMap>


  <delete id="deleteByPrimaryKey" parameterType="com.pojo.RoleUser">
    delete from role_user
    where role_id = #{roleId,jdbcType=TINYINT}
      and user_id = #{userId,jdbcType=TINYINT}
  </delete>


  <insert id="insert" parameterType="com.pojo.RoleUser">
    insert into role_user (role_id, user_id)
    values (#{roleId,jdbcType=TINYINT}, #{userId,jdbcType=TINYINT})
  </insert>


  <insert id="insertSelective" parameterType="com.pojo.RoleUser">
    insert into role_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=TINYINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>


</mapper>